.hints-status-bar-icon {
    margin-right: 5px;
}

.hints-status-bar-error {
    /*noinspection CssUnresolvedCustomProperty*/
    color: var(--text-error);
}

.hints-status-bar-hidden {
    display: none;
}
